body{
    background: linear-gradient(145deg, #131313, #013995 190%);

}
/*opção para tirar as setinhas de número pra cim ou para baixo, fica somente para o usuario colocar o número.*/
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content .box-login{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px 60px;
    border-radius: 8px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.1);
}

.content .box-login .step{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.content .box-login .step p{
    margin-top: 20px;
    color: #575757;
    font-size: 14px;
    line-height: 2;
}

.content .box-login .step a{
    color: #26baff;
    font-size: 14px;

}

.content .box-login .step input{
    padding: 10px 15px;
    width: 320px;
    margin: 10px 0px;
    border-radius: 8px;
    border-style: none;
    outline: none;
    background: #f5f5f5;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
}


.content .box-login .step-1{
    display: none;
}

.content .box-login .step-2{
    display: none;
}


.content .box-login .show{
    display: flex;
}

.content .box-login .buttons-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}





.content .box-login .step p{
    color: #575757;
}



#mostrarsenha{
    width: fit-content;
}

.group-mostrarSenha label{
    font-size: 14px;
    color: #575757;
}