/*AUTENFICAÇÃO*/

.erro{
    display: none;
    padding: 10px 15px;
    margin-top: 10px;
    width: fit-content;
    max-width: 320px;
    border: 1px solid #da2323;
    border-radius: 8px;
    background:rgb(253, 198, 198) ; 
}

.erro p{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: #da2323;
}

.erro p i{
   margin-right: 3px;
}


/*Cadastro concluido*/
.alert-success {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    20% { opacity: 1; transform: translateY(0); }
    80% { opacity: 1; }
    100% { opacity: 0; transform: translateY(-10px); }
}



.sucesso{
    display: none;
    padding: 10px 15px;
    margin-top: 10px;
    width: fit-content;
    max-width: 320px;
    border: 1px solid #23da4b;
    border-radius: 8px;
    background:rgb(198, 253, 203) ; 
}


.sucesso p{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: #23da4b;
}

.sucesso p i{
    margin-right: 3px;
 }